<!DOCTYPE html>

<html>
<head>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="site.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Doctor appointment booking</title>
</head>
<body>
    <div class="col-xs-12 col-md-4">
            <p>Appointment Date: <input type="date" id="datepicker"></p>
            <button class="btn btn-primary" onclick="getDetailsForDay()">View appointments</button>
    </div>
    <div class="col-xs-12">
        <table class="table table-striped table-bordered" id="schedulerTable">
        </table>
    </div>
</body>
</html>
